<div class="container">
  <form>
    <div class="row">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Missed?</th>
            <th scope="col">Done</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody *ngFor="let task of todaysTasks.items">
          <tr class="{{task.bleedOverCount == 0 ? 'table-default' : task.bleedOverCount > 1 ? 'table-danger' : 'table-warning'}}">
            <td><span *ngIf="task.bleedOverCount > 0">x{{ task.bleedOverCount }}</span></td>
            <td><input type="checkbox" [checked]="task.completed"/></td>
            <td>{{ task.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
