<div class="container mt-3">
  <form>
    <div class="row g-2 align-items-center">
      <div class="col-md-6 col-auto">
        <input class="form-control" type="text" [(ngModel)]="taskDescription" name="taskDescription" placeholder="Enter a task item"/>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="processTaskInput()"><fa-icon [icon]="faInputIcon"></fa-icon></button>
      </div>
    </div>
    <div class="row">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Miss</th>
            <th scope="col">Done</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let task of todaysTasks.items">
          <tr class="{{task.completed ? 'table-success' : task.bleedOverCount == 0 ? 'table-default' : task.bleedOverCount > 1 ? 'table-danger' : 'table-warning'}}">
            <td><span *ngIf="task.bleedOverCount > 0">x{{ task.bleedOverCount }}</span></td>
            <td>
              <input type="checkbox"
                     [checked]="task.completed"
                     [(ngModel)]="task.completed"
                     [ngModelOptions]="{standalone: true}"
                     (ngModelChange)="updateTaskTallies()"/>
            </td>
            <td>{{ task.name }}</td>
            <td>
              <fa-icon [icon]="faEdit" title="Edit" (click)="updateTask(task)"></fa-icon>&nbsp;
              <fa-icon [icon]="faTrashAlt" title="Delete"></fa-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="4">Total: {{ taskCount }} | Complete: {{ completeCount }}</td>
        </tfoot>
      </table>
    </div>
  </form>
</div>
